body{
    background-image: url(oiseau.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    
}

header{
    width: 100%;
}
        
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgb(29, 27, 27);
    box-shadow: 1px 10px 10px white;
}

li:hover{
    background-color:  rgb(194, 185, 56);
    }
 

#cr{
    height: 50px;
    width: 53px;
}

#lid1{
    padding-top: 37px;
}

#lid2{
    padding-top: 37px;
}



ul{
    display: flex;
    flex-direction: row;
    margin: 0;
}


li{
    list-style: none;
    padding: 15px;   
}


.bas{
    padding-top: 37px;
}


li a{ 
    color: white; 
   text-decoration: none; 
   font-size: 28px; 
}


#align{
    display: flex;
    margin-left: 10%;
    font-size: 173%;
}


#nom{
    text-shadow: -1px -2px white, 3px 1px rgb(194, 185, 56);
    font-size: 40px;
    font-style: oblique;
    margin-top: 10px;
}

    
               
#logo{
    box-shadow: 1px -10px 10px white;
    justify-content: space-around;
    color: white;
    background-color: black;
    display: flex;
    margin-top: 8%;
    height: 62px;
    width: 100%;
}


#zonecom{
    display: flex;
    flex-direction: row;
    margin-top: 9px;
    margin-left: 152px; 
}


#zonevalid{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 277px;
    height: 64px; 
}

.text{
    box-shadow: 1px -10px 30px white;
    border: solid 2px black;
    border-radius: 30px;
    text-align: center;
    padding-top: 13px;
    font-style: italic;
}


main{
    height: 64vh;
}



#phrase{
    text-shadow: 1px 1px 2px white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}