body{
    background-image: url(tortue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    
}

header{
    width: 100%;
}
        
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    background-color: rgb(29, 27, 27);
    box-shadow: 1px 10px 10px white;
}

li:hover{
    background-color:  rgb(50, 124, 36);
    }
 

#cr{
    height: 50px;
    width: 53px;
}

#bas{
    padding-top: 37px;
}



ul{
    display: flex;
    flex-direction: row;
    margin: 0;
}
       

li{
    list-style: none;
    padding: 15px;   
}
        

li a{ 
    color: white; 
    text-decoration: none; 
    font-size: 28px; 
}


#align{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 173%;
}


#nom{
    text-shadow: -1px -2px white, 3px 1px  rgb(50, 124, 36);
    font-size: 40px;
    font-style: oblique;
    margin-top: 10px;
}


#form-img{
    margin-top: 39px;
}


#form1{
    height: 160px;
    margin-top: -3%;
    margin-left: 10%;
    font-size: 29px;
    text-shadow: -1px -2px rgb(105, 104, 104);
 }


#logo{
    box-shadow: 1px -10px 10px white;
    justify-content: space-around;
    color: white;
    background-color: black;
    display: flex;
    margin-top: 21%;
    height: 62px;
    width: 100%;
}